<body class="gridContainer">
	<header class="header header-box">
		<h1 class="header title">Lista de Desejos</h1>
	</header>
	
	<router-outlet></router-outlet>

	<footer class="footer">
		<p>Que seja um ano repleto de realizações!</p>
		<p> &copy; Regina Soares - 2021</p>
	</footer>
</body>
