.gridContainer{
    display: grid;
    gap: 50px;
    grid-template-columns: [col-start] 1% [col-end col-start] 1fr [col-end col-start] 1% [col-end];
    grid-template-rows: [header-start] 100px [header-end main-start] 1fr [main-end footer-start] 70px [footer-end] ;
}


body{
    min-height: 100vh;
    padding: 0;
    font-family: 'Concert One', cursive;
    background-size: cover;
    color: rgb(149, 1, 1);
}

::selection{ 
    background-color: rgb(255, 0, 0);
    color: white; 
}

.header{
    grid-column: col-start 1 / col-end 3;
    text-align: center;
    letter-spacing: .3em;
    font-size: 1.5em;
    background-color: rgb(149, 1, 1);
    color: white;
    margin: 0;
    padding: .5em;
}

.header-box{
    box-shadow: 0px 1px 10px 2px rgb(149, 1, 1);
}

footer{
    grid-column: col-start 1 / col-end 3;
    font-size: 0.9em;
    text-align: center;
    background-color: rgb(149, 1, 1);
    color: white;
    bottom: 0;
    padding: .2em;
    box-shadow: 0px -1px 5px 1px rgb(149, 1, 1);
}

footer p{
    display: inline-block;
    padding: 0.5em;
    font-size: 1.5em;
}