<main class="main">
    <form [formGroup]="formBusca" (ngSubmit)="getUserName()" id = "formBusca" >
        <div class="flex-container">
            <div class="flex-container-div">
                <label class="main-form-label">Usuário</label>
                <input formControlName="name" type="text" name="usuario" class="btn btn-block btn-entrar">
            </div>
            
            <div class="flex-container-div">
                <button (click)="goToList()" type="submit" class="btn btn-buscar">Entrar</button>   
            </div>
        </div>
    </form>
</main>
