::selection{ 
    background-color: rgb(255, 0, 0);
    color: white; 
}

.btn{
    border: 2px solid rgb(149, 1, 1);
    background-color: transparent;
    transition-property: border, color;
    transition-duration: .2s;
    transition-timing-function: linear;
    color: rgb(149, 1, 1);
}

.btn:hover{
    border: 2px solid rgb(255, 0, 0);
    background-color: transparent;
    color: rgb(255, 0, 0);
}

.btn:focus{
    box-shadow: none;
    border: 2px solid rgb(149, 1, 1);
}


.main{
    height: 100%;;
    grid-column: col-start 2 / col-end 2;
}

#formBusca{
    height: 100%;
}

.btn-entrar{
    text-align: left;
    height: 2.5em;
}


.main-form-label{
    margin-right: 0.4em;
    font-size: 1.5em;
}


.flex-container{
    height: 50%;
    display: flex;
    align-items: center;
}

.flex-container-div{
    display: flex;
    width: 50%;
}

.flex-container-div:nth-child(2){
    margin: 0 2.5em;
}