

::selection{ 
    background-color: rgb(255, 0, 0);
    color: white; 
}

.btn{
    border: 2px solid rgb(149, 1, 1);
    background-color: transparent;
    transition-property: border, color;
    transition-duration: .2s;
    transition-timing-function: linear;
    color: rgb(149, 1, 1);
}

.btn:hover{
    border: 2px solid rgb(255, 0, 0);
    background-color: transparent;
    color: rgb(255, 0, 0);
}

.btn:focus{
    box-shadow: none;
    border: 2px solid rgb(149, 1, 1);
}


.main{
    height: 100%;
    grid-column: col-start 2 / col-end 2;
}

.main-random-item{
  margin: 2em 0;
}

.main-random-item span{
  margin-left: 1em;
  font-size: 1.7em;
  color: rgb(255, 0, 0);
}


#formBusca{
    height: 100%;
}

.btn-entrar{
    text-align: left;
    height: 2.5em;
}

.flex-container-div:nth-child(1){
  margin-left: 0;
}

.main-form-label{
    margin: 0.4em 0.4em;
    font-size: 1.2em;
}


.flex-container{
    height: 50%;
    display: flex;
    align-items: center;
}

.flex-container-div{
    display: flex;
    width: 100%;
    margin-left: 2.5em;
}

table{
  margin-top: 2em;
  border-top: solid 1px;
}

img{
  width: 10em;
}



label.switch {  
    text-align: left;
    width: 50px;
    height: calc(50px / 2);
    border-radius:60px;    
    background-color:#4ed164;
    display: inline-block;
    position: relative;
    cursor: pointer;
  }
  
  label.switch > span {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  label.switch > input[type="checkbox"] {
    opacity: 0;
    position: absolute;
  } 
  
  label.switch > span:before, label.switch > span:after {
    content: "";
    cursor: pointer;
    position: absolute;
  }
  
  label.switch > input[type="checkbox"]:focus ~ span {
    box-shadow: 0 0 0 4px #43b556; 
  }
  
  label.switch > input[type="checkbox"]:checked:focus ~ span {
    box-shadow: 0 0 0 4px #fff;
  }
  
  label.switch > span {
    border-radius: 60px;    
  }
  
  label.switch > span:before {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: #f1f1f1;
    border-radius: 60px;
    transition: opacity .2s ease-out .1s, transform .2s ease-out .1s;
    transform: scale(1);
    opacity: 1;
  }
  
  label.switch > span:after{
    top: 50%;
    z-index: 3;
    transition: transform .4s cubic-bezier(0.44,-0.12, 0.07, 1.15);
    width: calc(50px / 2);
    height: calc(50px / 2);
    transform: translate3d(0, -50%, 0);
    background-color: #fff;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .3);  
  }



  label.switch > input[type="checkbox"]:checked ~ span:before {
    transform: scale(0);
    opacity: .7;
  }
  
  label.switch > input[type="checkbox"]:checked ~ span:after {
    transform: translate3d(100%, -50%, 0);
  }