<div>
    <h1>Bem vinda - {{userName}}</h1>

    <div class="main-random-item">
        <button (click)="randomItems()" class="btn">Sortear item da lista</button>
        <span>{{randomItem.title}}</span>
    </div>

    <form [formGroup]="formItems" (ngSubmit)="getItem()" id = "formItems">
        <div class="flex-container">
            <div class="flex-container-div">
                <label class="main-form-label">Título</label>
                <input formControlName="title" type="text" name="title" class="btn btn-block btn-entrar">
            </div>

            <div class="flex-container-div">
                <label class="main-form-label">Descrição</label>
                <input formControlName="description" type="text" name="description" class="btn btn-block btn-entrar">
            </div>

            <div class="flex-container-div">
                <label class="main-form-label">Link</label>
                <input formControlName="link" type="text" name="link" class="btn btn-block btn-entrar">
            </div>

            <div class="flex-container-div">
                <input onchange="return false" (change)="uploadImage($event.target.files)" formControlName="url_image" type="file" name="url_image" class="btn">
            </div>

            <div class="flex-container-div">
                <button type="submit" class="btn btn-buscar">Salvar</button>   
            </div>
        </div>
    </form>

    <table class="table table-hover ">
        <thead>
          <tr>
            <th scope="col">Título</th>
            <th scope="col">Descrição</th>
            <th scope="col">link</th>
            <th scope="col">Imagem</th>
            <th scope="col">Já comprei/ganhei?</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of listItems">
            <th scope="row">{{item.title}}</th>
            <td>{{item.description}}</td>
            <td>
                <a href="https://{{item.link}}" target="_blank">{{item.link}}</a>
            </td>
            <td>
                <img src="../../assets/image/{{item.url_image}}" alt="{{item.title}}">
            </td>
            <td>
                <div *ngIf="item.already_have === false">
                    <label class="switch">
                        <input (change)='putHave([item.id], $event)' type="checkbox" unchecked>
                        <span></span> 
                    </label>
                </div>
                <div *ngIf="item.already_have === true">
                    <label class="switch">
                        <input (change)='putHave([item.id], $event)' type="checkbox" checked>
                        <span></span> 
                    </label>
                </div>
            </td>
          </tr>
        </tbody>
    </table>
</div>
